
<h1>All Questions</h1>

<div class="row">
<div class="col-md-6">
  <%= form_tag questions_path, method: :get do %>
  <p>
    <%= search_field_tag :search, params[:search] %>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    <% end %>
  </p>
</div>
<div class="col-md-6">
  <div class="text-right">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<%= link_to "order by title", questions_path(search: params[:search], order: "title") %>
<%= link_to "order by body", questions_path(search: params[:search], order: "body") %>
<% @questions.each do |q| %>
  <%#= link_to q.title, question_path({id: q.id}) %>
  <%#= link_to q.title, q %>
  <div>
    <%= link_to q.title, question_path(q) %>
  </div>
<% end %>

<%= paginate @questions %>
